APP_NAME=Globant DE Tech API
DEBUG=false

# sqlite or postgresql
DB_DRIVER=sqlite
SQLITE_PATH=./data/globant_de.db

# PostgreSQL settings (used only if DB_DRIVER=postgresql)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=globant_de
